<ul><h3>My Lists</h3>
<% @lists.each do |l| %>
  <input class="toggle-all" type="checkbox">
  <label for="toggle-all">Done(fix)</label>
  <ul><h4> <%= link_to l.name, list %></h4></ul>
<% end %>
</ul>