<div class="container">
<ul class="list-group">
<% @list.tasks.each do |t| %>
  <li class="list-group-item">
       <%= t.name %>
       <%= link_to "Edit", list_task_path(t.list, t) %>
       <%= link_to "Done", list_task_path(t.list, t), :method => "delete", :class => "destroy" %>
       </li>
  <% end %><br>
</ul>
</div>
