<%= form_for(@task) do |f| %>
         <%= f.text_field f.name %><br>
         <%= f.collection_select(:list, :list_id, List.all, :id, :name) %>
       <h4><%= f.submit %></h4>
     <% end %>
   </ul>
 </ul>
 