

<%= link_to 'Assign Tasks', new_group_task_path %><br><br>

<br>
<h5> Your Tasks: </h5>
 
<% @user_tasks.each do |t| %>
    <%= link_to t.name, group_task_path(@group,t) %><br>
    <% end %>
    <br><br>

<h5> Group Tasks: </h5>

<% @group.tasks.each do |t| %>
    <%= link_to t.name, group_task_path(@group,t) %>
    <%= t.user.email %><br>
    <% end %>

