<h2>Tasks:</h3>
<% @task.each do |task| %>
  <h3>
    <ul> 
     <%= task.name %> 
      <ul>
        <h5>
          <p> need comepleted button here </p>
        </h5>
      </ul> 
    </ul>
  </h3>
  
  <% end %>
