
<h1> Tasks Assigned To You </h1>

<% current_user.tasks.each do |t| %>
    <% t.name %>
<%= button_to "Task Complete?", task_path(t), :method => "delete", :class => "destroy" %>
<% end %>

<br><br>

<h1> Assign a Task to a Group Member </h1>
<%= link_to 'Assign Tasks', new_task_path %><br>

<% @tasks.each do |t| %><br>
    <%= link_to t.name, task_path(t) %>
    <%= t.user.email %>
    <% end %>


