<h1> New Task </h1>

<%= form_for [@group,@task], url: group_tasks_path do |f| %>
    <%= f.text_field :name, placeholder: "Create a task" %>
    #show collection of group members 
    <%= f.collection_select :group_membership_id, GroupMembership.all, :id, :email, :id, :name %>



    <%= f.submit "Create" %>
<% end %>
