<h1> New Task </h1>

<%= form_for @task do |f| %>
    <%= f.text_field :name, placeholder: "Create a task" %>
    <%= f.collection_select :user_id, User.invitation_accepted, :id, :email, :prompt => "Select Group Member" %>
    <%= f. submit %>
  <% end %>