<div class="container">
<h1> Task </h1>
<h5>Name:</h5><%= @task.name %> <br>
<h5>User:</h5><%= @task.user.email %><br>
<%= link_to 'Edit Task', edit_group_task_path(@group, @task) %><br>


<%= link_to 'Back', group_tasks_path %>
</div>