<h1>My Groups</h1>



 <ul>  <% @groups.each do |g| %><br>
       <li> <%= link_to g.name, group_path(g) %> </li>
        <%= link_to 'Edit', edit_group_path(g) %> 
        <%= link_to 'Destroy', g, method: :delete %> </li>
<% end %>
</ul>
<br>
<br>


<%= link_to 'New group', new_group_path %>