<h1> Your Group </h1>

<% if current_user.owned_groups.nil? %>
  <p> You don't have any groups. </p>
  <%= link_to 'New Group', new_group_path %>
<% else %>
  <ul>
    <% current_user.owned_groups.each do |group| %>
      <li><%= link_to group.name, group %></li>
    <% end %>
  </ul>
<% end %>
<br>

<h1> Groups you are a member of </h1>
<br>
<% current_user.memberships.each do |g| %>
    <%= link_to g.name, group_path(g) %>
    <% end %>

    <br>

