
<h5> Your Group </h5>

<% if current_user.owned_group.nil? %>

  <p> You don't have any groups. </p>
<%= link_to 'New Group', new_group_path, :class=>"btn btn-primary" %>

<% else %>

<%= link_to current_user.owned_group.name, group_path(current_user,@group) %>
    <% end %>

<br><br>

<h5> Groups you are a member of </h5>
<br><br>
<% current_user.groups.each do |g| %>
    <%= link_to g.name, group_path(g) %>
    <% end %>

    <br>

