<h5> All Groups you belong to </h5>

<% current_user.owned_groups.each do |g| %><br>
    <%= link_to g.name, g %>
    <% end %>

    <h5> Groups you are a amember of </h5>

   <p> maybe add here groups user is member of????</h5><br>

<%= link_to "New Group", new_group_path %>