

    <h3> Your Groups </h3>

    <% current_user.groups.each do |group| %>
        <%= link_to group.name, group %>
        <% end %><br><br>

        <%= link_to 'Create Group', new_group_path %>

    