<div class="container">
    <h5> Your Groups </h5>

  <ul>  <% current_user.groups.each do |g| %>
       <li> <%= link_to g.name, g %>
        <% end %></li><br><br>

        <%= link_to 'Create Group', new_group_path, class: "btn btn-success" %>
        <%= link_to 'Back', root_path, class: "btn btn-primary" %>

    </div>