<h1> group show page </h1>

<%= @group.name %> <br>
<% @group.users.each do |u| %>
    <% u.email %>
    <% u.invitation_accepted_at %>
    <% end %>

<p> add remove user feature next to each user </p>

<%= link_to 'Invite User', new_user_invitation_path %>  <br>