<h1> group show page </h1>

<%= @group.name %> <br>

<% @group.users.each do |g| %>
    <%= g.email %>
    <% end %>

<p> add remove user feature next to each user and group member status? </p>



<% if @group.owner %>
    <%= link_to 'Invite User', new_group_invite_path(@group) %>
<% end %>