<h5> Your Group - <%= @group.name %></h5><br>

<%= link_to 'invite a friend', 
new_invite_path(invite: { invitable_id: @group.id, invitable_type: 'Group' } ) %><br>

<%= link_to 'Edit Group', edit_group_path(@group) %><br>
<%= link_to 'Delete Group', @group, method: :delete %><br>